*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('hand-1850120_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background: transparent;
    text-decoration: none;
    /* background-color: #333; */
    color: #fff;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 4px solid white;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.listitems{
    margin: 26px;
    font-size: 18px;
}
.searchbar{
 display: flex;
 justify-content: space-around;

}
.searchinput{
 width: 270px;
 height: 25px;
 border-radius: 5px;
padding: 4px 6px;
/* margin-right: 20px; */
}
.btn{
text-decoration: none;
background-color: rgb(0, 0, 0);
color: white;
border: 0px rgb(0, 0, 0);
border-radius: 4px;
padding: 3px 8px;
margin-right: 8px;
}
.content{
    /* width: 0px; */
    /* border: 5px solid white; */
    margin-top: 100px;
display: flex;
margin: auto;
/* flex-direction: row; */
    padding: 20px;
    margin-top: 90px;
    margin-left: 80px;
/* height: 300px; */
}
.text{
    color: white;
}
.text h1{
    font-size: 65px;
}
.text p{
    font-size: 24px;
}
.card{
    font-family: sans-serif;
    font-size: 120px;
    border: 1px solid white;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    color: white;
    margin-left: 350px;
    margin-right: 100px;
}