* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.466)), url('hand-1850120_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background: transparent;
    text-decoration: none;
    /* background-color: #333; */
    color: #fff;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
    /* border: 4px solid white; */
}

.logo:hover {
    border: 3px solid #fff;
    height: 75px;
    width: 75px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.listitems {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    margin: 26px;
    font-size: 18px;
}

.listitems:hover {
    cursor: pointer;
    text-decoration: underline;
    color: goldenrod;
}

.searchbar {
    display: flex;
    justify-content: space-around;

}

.searchinput {
    width: 270px;
    height: 25px;
    border-radius: 5px;
    padding: 4px 6px;
    /* margin-right: 20px; */
}

.btn {
    cursor: pointer !important;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 0px rgb(0, 0, 0);
    border-radius: 4px;
    padding: 3px 8px;
    margin-right: 8px;
}

.content {
    /* width: 0px; */
    /* border: 5px solid white; */
    margin-top: 100px;
    display: flex;
    margin: auto;
    /* flex-direction: row; */
    padding: 20px;
    margin-top: 90px;
    margin-left: 80px;
    /* height: 300px; */
}

.text {

    color: white;
}

.text h1 {
    font-size: 65px;
    /* font-weight: 1000; */
}

.text p {
    font-size: 18px;
}

.card {
    /* width: 300px; */
    background-color: rgba(0, 0, 0, 0.562);
    font-family: sans-serif;
    /* border: 1px solid ; */
    width: 100%;
    height: 57vh;
    /* align-items: center; */
    justify-content: center;
    /* display: flex; */
    color: white;
    margin-top: -30px;
    margin-left: 350px;
    margin-right: 120px;
    border-radius: 10px;
}

.join {
    font-family: sans-serif;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 3px 20px;
    display: inline-block;
    box-shadow: 2px 5px 4px gray;
}

.q {
    color: red;
}

.a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    border: none;
    padding: 3px 79px;
    /* margin-top: 60px; */
    background-color: rgb(52, 4, 83);
    font-size: 28px;
    border-radius: 10px;
}

.email {
    margin-top: 35px;
    border: none;
    box-sizing: content-box;
    padding: 14px 48px;
    background: transparent;
    font-size: 16px;
    color: white;
    text-align: left;
    border-bottom: 2px solid red;
}

.pass {
    margin-top: 35px;
    border: none;
    box-sizing: content-box;
    padding: 14px 48px;
    background: transparent;
    font-size: 16px;
    color: white;
    text-align: left;
    border-bottom: 2px solid red;
}

.login {
    text-decoration: none;
    color: rgb(64, 4, 104);
    border: none;
    padding: 0px 105px;
    /* color: white; */
    /* margin-top: 60px; */
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    border-radius: 10px;
    margin-top: 23px;
    cursor: pointer;
}

.ac {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 8px;
}

.s {
    text-align: center;
    margin-left: 95px;
    color: rgb(164, 73, 224);

}

.z {
    color: white;
    text-decoration: none;
}